body {
    background-image: url("fotos/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background: #ffffff url("img_tree.png") no-repeat right top;
        xXaZ3Lb4ZEejUv9ipwK3ha-320-80
    */
}
